---
import Layout from '../layouts/Layout.astro';

import Countdown from '@/sections/Countdown.astro';
import Footer from '@/sections/Footer.astro';
import Hero from '@/sections/Hero.astro';
import PrincipalDate from '@/sections/PrincipalDate.astro';
import Info from '@/sections/Info.astro';
import Sponsors from '@/sections/Sponsors.astro';

---

<Layout title="Copy la velada IV. Evento de boxeo." description="Evento de boxeo entre streamers.">
	<Hero />
	<main>		
		<PrincipalDate />
		<Sponsors />
		<!-- <Info /> -->
		<!-- <Countdown /> -->
	</main>
	<Footer />
</Layout>

<style>

</style>
