<footer class="my-20 pt-10 w-full border-primary border-t-2 flex flex-col gap-y-4 justify-between items-center md:flex-row text-xl text-primary">
  <span>
    2024 Copia La Velada del Año 
    <span aria-hidden class="hidden md:inline" >|</span>
    <br aria-hidden class="block md:hidden">
    Todos los derechos reservados
  </span>
  <ul class="flex flex-row gap-2">
    <li>
      <a target="_blank" rel="noopener" href="https://www.x.com" class="hover:scale-125 hover:opacity-75 transition-all inline-block">
        <img src="./x.svg" alt="Logo de X">
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://www.instagram.com" class="hover:scale-125 hover:opacity-75 transition-all inline-block">
        <img src="./instagram.svg" alt="Logo de instagram">
      </a>
    </li>
  </ul>
</footer>